<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="gotaCraftingApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
<title>Insert title here</title>
<style type="text/css">
	.selecteditem { font-weight: bold; background-color: yellow; cursor: pointer; }
	.unselecteditem { cursor: pointer; }
</style>
<script type="text/javascript">
	console.log('reading all-items');
</script>
<script type="text/javascript" src="jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="angular.min.js"></script>
<script type="text/javascript" src="all-items.js"></script>
<script type="text/javascript">
	console.log('processing all-items');
</script>
<script type="text/javascript">
	console.log('registering controllers');
	var item = {};

	for (i in all_items) {
		item[all_items[i].name] = all_items[i];
	}

	var gotaCraftingApp = angular.module('gotaCraftingApp', []);

	gotaCraftingApp.controller('GotaCraftingMainblock', function($scope) {
		$scope.item = {};
		$scope.selected = null;
		$scope.requirements = [];
		$scope.qty = {};
		$scope.buildings = {};
		for (i in all_items) {
			$scope.item[all_items[i].name] = all_items[i];
		}
		$scope.setSelected = function(s) {
			$scope.selected  = s;
			$scope.requirements = [];
			$scope.qty = {};
			$scope.buildings = {};
			$scope.recursiveAdd(s, 1);
		}
		$scope.recursiveAdd = function(s, n) {
			var name = s.name;
			if(!$scope.qty[s.name]) {
				$scope.requirements.push(s.name);
				$scope.qty[s.name] = 0;
			}
			
			$scope.qty[s.name] += n;
			
			var building;
			if(s.building) {
				building = s.building;
			}
			else {
				building = "Resource";
			}

			if(!$scope.buildings[building]) {
				$scope.buildings[building] = {
					name: building,
					upgradeList: [],
					upgradeSet: {},
					resourceName: [],
					resourceQty: {}
				}
			}
			
			building = $scope.buildings[building];
			if(s.upgrade) {
				if(!building.upgradeSet[s.upgrade]) {
					building.upgradeSet[s.upgrade] = true;
					building.upgradeList.push(s.upgrade);
				}
			}
			
			if(!building.resourceQty[s.name]) {
				building.resourceQty[s.name] = 0;
				building.resourceName.push(s.name);
			}
			building.resourceQty[s.name] += n;	
				
			for(i in s.resource) {
				var name = s.resource[i].name;
				if(item[name]) {
					$scope.recursiveAdd(item[name], s.resource[i].qty * n);
				}
				else {
					// add resource
					$scope.recursiveAdd( 
						{
							name: name,
							building: "(resource)"
						},
						s.resource[i].qty * n
					)
				}
			}
		}
	});

	console.log('done registering controllers');
</script>
</head>
<body ng-controller="GotaCraftingMainblock" style="margin: 0; padding: 1em; position: absolute; top: 0; left: 0; right: 0; bottom: 0; ">

	<div style="position: absolute; top: 0; left: 0; bottom: 0; width: 15em; float: left; padding: 1em; overflow-y: scroll; ">
		<div 
			ng-repeat="i in item" 
			ng-click="setSelected(i)"
			ng-class="i==selected?'selecteditem':'unselecteditem'"
		>{{i.name}}</div>
	</div>

	<div style="position: absolute; top: 0; left: 17em; bottom: 0; right: 0; padding: 1em; overflow-y: scroll;">
		<h1>GoTA item recipe thingy</h1>
		<p>This page uses data harvested from the Game of Thrones Ascent wiki. All errors are entirely their fault.</p>
		<div ng-if="selected != null">
			<p style="clear: both;">Crafting requirements for {{selected.name}}</p>
			
		<div ng-repeat="b in buildings" style="float: left; margin-right: 1.5em;">
			<div><b>{{b.name}}</b></div>
			<div ng-if="b.upgradeList.length > 0"><i>
				Requires:
				<span ng-repeat="u in b.upgradeList">{{u}}<span ng-if="!$last">, </span></span>
			</i></div>
			<div ng-repeat="r in b.resourceName">
				{{r}} : {{b.resourceQty[r]}}
			</div>			
		</div>
	</div>


</body>
</html>